*.iml
.gradle
/local.properties
.idea/
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/prod
/captures
.externalNativeBuild
.cxx
local.properties
!gradle-wrapper.jar

/build/
/app/build/
/.gradle/
/app/.cxx/
/app/**/release/
/app/**/debug/

# ML Models
*.litertlm

# Applications
*.apk
*.aab
*.dm
